<div class="main-container fullscreen">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-7">
        <div class="text-center">
          <h1 class="h2">Welcome Back &#x1f44b;</h1>
          <p class="lead">Log in to your account to continue</p>
          <%= content_tag(:div, flash[:error], :id => "flash_error", class: "alert alert-primary", role: "alert") if flash[:error] %>
          <%= content_tag(:div, flash[:notice], :id => "flash_notice", class: "alert alert-primary", role: "alert") if flash[:notice] %>
          <%= content_tag(:div, flash[:alert], :id => "flash_alert", class: "alert alert-primary", role: "alert") if flash[:alert] %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, placeholder:"Email Address", class: "form-control", autocomplete: "email" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              <div class="text-right">
                <small><a href="#">Forgot password?</a>
                </small>
              </div>
            </div>
            <%= f.submit "Log in", class: "btn btn-lg btn-block btn-primary", role: "button" %>
            <small>Don't have an account yet? <a href="/users/sign_up">Create one</a>
            </small>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
